<div class="container" id="timeline">
    <hr>
    <h4>SLRC-School-Category-Timeline</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline4">
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">Feb 15</span>
                        <div class="inner-content">
                            <h3 class="title">Registration Starts</h3>
                            <p class="description">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLScym4Gt4QPGOFDL6Oz-qSEVqNQEwMeP4vv_dLc4aWup0l54iQ/viewform?usp=sf_link">Click to Register</a>    
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">Feb 25</span>
                        <div class="inner-content">
                            <h3 class="title">Registrasions End</h3>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year" style="font-size: 10px;">Coming soon</span>
                        <div class="inner-content">
                            <h3 class="title">Tasks release</h3>
                            <p class="description">
                               <!-- Participants are allowed to sumbit their solutions within 14th March to 27th March.-->
                            </p>
                        </div>
                    </a>
                </div>
         <!--       <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">March 27</span>
                        <div class="inner-content">
                            <h3 class="title">Deadline for Easy tasks</h3>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">March 28</span>
                        <div class="inner-content">
                            <h3 class="title">Medium Tasks release</h3>
                            <p class="description">
                                Participants are allowed to sumbit their solutions within 28th March to 12th April.

                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">April 12</span>
                        <div class="inner-content">
                            <h3 class="title">Deadline for Medium tasks</h3>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">March 28</span>
                        <div class="inner-content">
                            <h3 class="title">Hard Tasks release</h3>
                            <p class="description">
                                Participants are allowed to sumbit their solutions within 16th April to 2nd May.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">May 2</span>
                        <div class="inner-content">
                            <h3 class="title">Deadline for Hard tasks</h3>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">May 6</span>
                        <div class="inner-content">
                            <h3 class="title">Final Tasks release</h3>
                            <p class="description">
                                Participants are allowed to sumbit their solutions within 6th May to 4th June.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">June 4</span>
                        <div class="inner-content">
                            <h3 class="title">Deadline for Final tasks</h3>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">June 10</span>
                        <div class="inner-content">
                            <h3 class="title">Announcing Winners</h3>
                            <p class="description">
                                Announcing  1st 2nd 3rd places

                            </p>
                        </div>
                    </a>
                </div>-->
            </div>
        </div>
    </div>
</div>
<hr>
