rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Task/{allPaths=**} {
      allow read: if false;
      allow write:if request.auth.uid == 'yYgy13DArZcKeKs105IYEVMMza32';
    }
     match /Marks/{allPaths=**} {
      allow read:if true;
      allow write:if false;
    }
      match /Users/{uid}/{allPaths=**} {
      
      allow read:if request.auth!=null && request.auth.uid == uid;
      allow write:if false;
    }

  }
}
