<section id="progress-box">
    <div id="logo">
      <img src="assets/logoslrc_white.png">
    </div>
    <div class="logout">
      <button (click)="authService.SignOut()" >
        <i class="fas fa-sign-out-alt"></i> Log Out
      </button>
    </div>
    <div class="container progress-body">
      <div class=" row" >
            <div class=" col-sm-4 col-md-4 team-details">
              <h5>{{teamName}}</h5>
              <div class="progress" style="height: 10px;">
                <div class="progress-bar" id="pro" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Score : {{overallScore}}</p>
            </div>
            
              
            
        </div>
    </div>
  
  </section>