.navbar-brand img{
	margin-top: 10px;
}
#navbrand{
  display: none;
}
.top-nav-collapse {
    background-color:transparent;
  }
  @media (max-width: 767px) {
    .navbar:not(.top-nav-collapse) {
      background-color:transparent;
    }
  }
  