<nav class="navbar navbar-expand navbar-light bg-dark " id="navbar-container">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <nav>
                    <a class="nav-link" href="#"  routerLink="" routerLinkActive="active">Home</a>
                    </nav>
                </li>
                <li class="nav-item">
                    <nav>
                    <a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">About</a></nav>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#timeline">Timeline</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Workshops
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Webot 2021a</a>
                      <a class="dropdown-item" href="#">ThinckerCAD</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>