<nav class="navbar navbar-expand-sm navbar-dark fixed-top scrolling-navbar" id="navbar-container">

    <div class="container">

        <!-- Navbar brand -->
        <a class="navbar-brand" id="navbrand" href="#home">
            <img src="/assets/logoslrc_white.png" width="100" height="40" class="d-inline-block align-top" alt="">
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav ml-auto smooth-scroll">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Workshops</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#timeline-box">Timeline</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#" routerLinkActive="active" routerLink="/viewTasksSchool">School Category</a>
                      <a class="dropdown-item" href="#" routerLinkActive="active" routerLink="/viewTasksUniversity">University Category</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Leaderboard
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#" routerLinkActive="active" routerLink="/SchoolLeaderboard">School Category</a>
                      <a class="dropdown-item" href="#" routerLinkActive="active" routerLink="/UniLeaderboard">University Category</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
    </div>
</nav>
