<hr>
<div class="container" id="timeline">
      <div class="row">
          <div class="col-md-12">
              <div class="main-timeline">
                  <div class="timeline">
                      <a href="#" class="timeline-content">
                          <div class="timeline-year">Feb 28</div>
                          <div class="timeline-icon"><i class="fa fa-users"></i></div>
                          <div class="inner-content">
                              <h3 class="title">Registration Starts</h3>
                              <p class="description">
                              </p>
                          </div>
                      </a>
                  </div>
                  <div class="timeline">
                      <a href="#" class="timeline-content">
                          <div class="timeline-year">Mar 07</div>
                          <div class="timeline-icon"><i class="fa fa-user-lock"></i></div>
                          <div class="inner-content">
                              <h3 class="title">Registrations end</h3>
                              <p class="description">
                              </p>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <hr>