<section id="footer">
	<div class="container">
		<div class="row text-center text-xs-center text-sm-left text-md-left text-white">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Contact Us</h5>
				<ul class="list-unstyled quick-links">
					<li><i class="fas fa-phone"></i>  Manjitha : +94771127193 </li>
					<li><i class="fas fa-phone"></i>  Chamath : +94778444135  </li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Social Media</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="https://www.facebook.com/UoM.SLRC/" target="_blank"><i class="fab fa-facebook-square"></i></a>SLRC</li>
					<li><a href="https://www.facebook.com/messages/t/269016666459981" target="_blank"><i class="fab fa-facebook-messenger"></i></a>SLRC</li>
					<li><i class="fa fa-envelope"></i>  electronicclubuom@gmail.com  </li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Quick links</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="#description1"><i class="fa fa-angle-double-right"></i>About</a></li>
					<li><a href="#header"><i class="fa fa-angle-double-right"></i>Workshops</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white logo-3">
				<img src="assets/logo-3.png">
				<p class="h6">© Copyright<a class="text-green ml-2" href="#" >ENTC</a></p>
				<p class="h6"> All right Reserved.<a class="text-green ml-2" href="#" >Designed by Clique Web</a></p>
			</div>
			<hr>
		</div>	
	</div>
</section>