section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#contact {
    background: #280325 ;
}
#contact h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#contact a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#contact ul.social li{
	padding: 3px 0;
}
#contact ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#contact ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#contact ul.social li a,
#contact ul.quick-links li a{
	color:#ffffff;
}
#contact ul.social li a:hover{
	color:#eeeeee;
}
#contact ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#contact ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#contact ul.quick-links li a i{
	margin-right: 5px;
}
#contact ul.quick-links li:hover a i {
    font-weight: 700;
}
.logo-3 img{
	width: 200px;
	height: 200px;
}
.fas{
	margin-right: 8px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
@media (max-width:767px){
	
	#contact h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
	}
}
