section{
    background-color: #0B0C22;
  
  }
  .top3{
    padding-top: 60px;
    padding-bottom: 20px;
  }
  
  .second{
    position: relative;
    width: 80px;
    height: 80px;
    background-color:#252D47;
  }
  .number2{
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
  }
  .badge2{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 30px;
  }
  .badge1{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 30px;
  }
  .first{
    position: relative;
    width: 100px;
    height: 120px;
    background-color: #252D47;
  }
  .number1{
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .third{
    position: relative;
    width: 80px;
    height: 80px;
    background-color:#252D47;
  }
  table {
      color: white;
      width: 100%;
  }
  
  .task1-table{
    border-collapse: separate ;
      border-spacing: 0px 5px;
      background-color: inherit;
      width: 100%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius:15px;
  }
  .points{
    text-align: center;
  }
  .rank{
    text-align: center;
    color: #0177D7;
    font-size: 25px;
    font-weight: bold;
  }
  
  th{
    text-align: center;
    background-color: #549AE6;
  }
  tr{
    color: white;
    background-color: #252D47;
  }
  
  tr:hover{
    background-color: #0177D7 !important;
    transform: scale(1.04);
  }
  
  @media screen and (min-width: 780px){
    .second,.third{
      width: 150px;
      height: 150px;
    }
    .first{
      width: 200px;
      height: 200px;
    }
  }
  @media screen and (min-width: 990px){
    .second,.third{
      width: 200px;
      height: 200px;
    }
    .number2{
      margin-top: 35px;
      width: 100px;
      height: 100px;
    }
    .badge2{
      position: absolute;
      top: -20px;
      right: -20px;
      width: 50px;
      height: 70px;
    }
    .first{
      width: 250px;
      height: 250px;
    }
    .number1{
      margin-top: 35px;
      width: 130px;
      height: 130px;
    }
    .badge1{
      position: absolute;
      top: -20px;
      right: -20px;
      width: 50px;
      height: 70px;
    }
  }
  