<div id="container">
    <div id="bot">
      <div id="eyes">
        <div id="left">
          <div class="eye"></div>
        </div>
        <div id="right">
          <div class="eye"></div>
        </div>
      </div>
      <div id="leftarm">
        <div class="finger"></div>
        <div class="finger"></div>
      </div>
      <div id="rightarm">
        <div class="finger"></div>
        <div class="finger"></div>
      </div>
    </div>
    <div id="neck"></div>
    <div id="body"></div>
    <div id="legs">
      <div id="left">
        <div class="foot"></div>
      </div>
      <div id="right">
        <div class="foot"></div>
      </div>
    </div>
  </div>
