<app-navbar></app-navbar>
<app-overall-progress></app-overall-progress>
<section id="easytask-id">

<div class="container easy-box">
<div class="row ">
    <div class="col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Task-1</h5>
            <p class="card-text">Can you find the distance to the objects?</p>
            <div class="row">
              <div class="col">
                <button type="button" (click)="onClickMe('1','Easy')" class="btn btn-primary"  routerLinkActive="active" routerLink="/question" >Solve Challenge</button>
              </div>
              <div class="col" style="text-align: right;">
                Level: <span style="color: green;">Easy</span><br>
                Max Score:<span style="font-weight: bold;">{{maxScore[0]}}</span>
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar" id="pro1" role="progressbar"  aria-valuemin="0" aria-valuemax="100">{{score[0]}}%</div>
            </div>
        </div>
    </div>
</div>
   <div class="col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Task-2</h5>
          <p class="card-text">Message decoding robot</p>
          <div class="row">
            <div class="col">
              <button type="button" (click)="onClickMe('2','Easy')" class="btn btn-primary" routerLink="/question" routerLinkActive="active">Solve Challenge</button>
            </div>
            <div class="col" style="text-align: right;">
              Level: <span style="color: green;">Easy</span><br>
              Max Score:<span style="font-weight: bold;">{{maxScore[1]}}</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" id="pro2"role="progressbar"  aria-valuemin="0" aria-valuemax="100">{{score[1]}}%</div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Task-3</h5>
            <p class="card-text">Can you detect the ramps?</p>
            <div class="row">
              <div class="col">
                <button type="button" (click)="onClickMe('3','Easy')" class="btn btn-primary" routerLink="/question" routerLinkActive="active">Solve Challenge</button>
              </div>
              <div class="col" style="text-align: right;">
                Level: <span style="color: green;">Easy</span><br>
                Max Score:<span style="font-weight: bold;">{{maxScore[2]}}</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" id="pro3" role="progressbar"  aria-valuemin="0" aria-valuemax="100">{{score[2]}}%</div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Task-4</h5>
          <p class="card-text">Black and White</p>
          <div class="row">
            <div class="col">
              <button type="button" (click)="onClickMe('4','Easy')" class="btn btn-primary" routerLink="/question" routerLinkActive="active">Solve Challenge</button>
            </div>
            <div class="col" style="text-align: right;">
              Level: <span style="color: green;">Easy</span><br>
              Max Score:<span style="font-weight: bold;">{{maxScore[3]}}</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" id="pro4" role="progressbar"   aria-valuemin="0" aria-valuemax="100">{{score[3]}}%</div>
        </div>
        </div>
    </div>
    </div>
   <!-- <div class="col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Task-5</h5>
          <p class="card-text">Short description about task</p>
          <div class="row">
            <div class="col">
              <button type="button" (click)="onClickMe('5','Easy')" class="btn btn-primary" routerLink="/question" routerLinkActive="active">Solve Challenge</button>
            </div>
            <div class="col" style="text-align: right;">
              Level: <span style="color: green;">Easy</span><br>
              Max Score:<span style="font-weight: bold;">{{maxScore[4]}}</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" id="pro5"role="progressbar"   aria-valuemin="0" aria-valuemax="100">{{score[4]}}%</div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Task-6</h5>
            <p class="card-text">Short description about task</p>
            <div class="row">
              <div class="col">
                <button type="button" (click)="onClickMe('6','Easy')" class="btn btn-primary" routerLink="/question" routerLinkActive="active">Solve Challenge</button>
              </div>
              <div class="col" style="text-align: right;">
                Level: <span style="color: green;">Easy</span><br>
                Max Score:<span style="font-weight: bold;">{{maxScore[5]}}</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" id="pro6" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{score[5]}}%</div>
            </div>
          </div>
        </div>
    </div>-->
</div>
</div>

</section>


