
<app-overall-progress></app-overall-progress>
<hr>
<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Easy Task-1</h5>
            <p class="card-text">Short description about task</p>
            <div class="row">
              <div class="col">
                <button type="button" (click)="onClickMe('1','Easy')" class="btn btn-primary"  routerLinkActive="active" routerLink="/question" >Solve Challenge</button>
              </div>
              <div class="col" style="text-align: right;">
                Level: <span style="color: green;">Easy</span><br>
                Max Score:<span style="font-weight: bold;">200</span>
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Easy Task-2</h5>
          <p class="card-text">Short description about task</p>
          <div class="row">
            <div class="col">
              <button type="button" (click)="onClickMe('2','Easy')" class="btn btn-primary" routerLink="question" routerLinkActive="active">Solve Challenge</button>
            </div>
            <div class="col" style="text-align: right;">
              Level: <span style="color: green;">Easy</span><br>
              Max Score:<span style="font-weight: bold;">200</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Easy Task-3</h5>
            <p class="card-text">Short description about task</p>
            <div class="row">
              <div class="col">
                <button type="button" (click)="onClickMe('3','Easy')" class="btn btn-primary" routerLink="question" routerLinkActive="active">Solve Challenge</button>
              </div>
              <div class="col" style="text-align: right;">
                Level: <span style="color: green;">Easy</span><br>
                Max Score:<span style="font-weight: bold;">200</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Easy Task-4</h5>
          <p class="card-text">Short description about task</p>
          <div class="row">
            <div class="col">
              <button type="button" (click)="onClickMe('4','Easy')" class="btn btn-primary" routerLink="question" routerLinkActive="active">Solve Challenge</button>
            </div>
            <div class="col" style="text-align: right;">
              Level: <span style="color: green;">Easy</span><br>
              Max Score:<span style="font-weight: bold;">200</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Easy Task-5</h5>
          <p class="card-text">Short description about task</p>
          <div class="row">
            <div class="col">
              <button type="button" (click)="onClickMe('5','Easy')" class="btn btn-primary" routerLink="question" routerLinkActive="active">Solve Challenge</button>
            </div>
            <div class="col" style="text-align: right;">
              Level: <span style="color: green;">Easy</span><br>
              Max Score:<span style="font-weight: bold;">200</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Easy Task-6</h5>
            <p class="card-text">Short description about task</p>
            <div class="row">
              <div class="col">
                <button type="button" (click)="onClickMe('6','Easy')" class="btn btn-primary" routerLink="question" routerLinkActive="active">Solve Challenge</button>
              </div>
              <div class="col" style="text-align: right;">
                Level: <span style="color: green;">Easy</span><br>
                Max Score:<span style="font-weight: bold;">200</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- <a class="nav-link" (click)="authService.SignOut()">
  Log out
</a> -->
<button (click)="authService.SignOut()" >Sign Out
</button>
