<h3>SLRC 2021 School Category Timeline</h3>
<div id="timeline">
    
    <div class="tl-item">
        <div class="tl-bg" style="background-image: url(/assets/register-now.jpg)"></div>
        <div class="tl-year">
            <h6 class="f2 heading--sanSerif">Feb 28</h6>
            <h6>Registration Starts</h6>
        </div>
        <div class="tl-content">
            <h6></h6>
        </div>
    </div>
  
    <div class="tl-item">
        <div class="tl-bg" style="background-image: url(/assets/coming-soon.jpg)"></div>  
        <div class="tl-year">
            <h6 class="f2 heading--sanSerif">Coming Soon</h6>
        </div>
        <div class="tl-content">
            <h6></h6>
        </div>
    </div>
  
    <div class="tl-item">
        <div class="tl-bg" style="background-image: url(/assets/coming-soon.jpg)"></div>
        <div class="tl-year">
            <h6 class="f2 heading--sanSerif">Coming Soon</h6>
         </div>
        <div class="tl-content">
            <h6></h6>
        </div>
    </div>
  
    <div class="tl-item">
        <div class="tl-bg" style="background-image: url(/assets/coming-soon.jpg)"></div>
        <div class="tl-year">
            <h6 class="f2 heading--sanSerif">Coming Soon</h6>
        </div>
        <div class="tl-content">
            <h6></h6>
        </div>
    </div>
</div>
  