<div class="card text-center sub-1">
    <div class="card-header">
      Submission 1
    </div>
    <div class="card-body">
      <label>
        <input
          type="file"
          class="text-nowrap text-truncate"
          (change)="selectFile($event)"
        />
      </label>
      <button class="btn btn-primary" (click)="upload()"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
    </div>
    <div class="card-footer text-muted">
      <div *ngIf="currentFileUpload" class="progress mt-2">
        <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ percentage }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: percentage + '%' }" >
          {{ percentage }}%
        </div>
      </div>
      <p>Remaining attempts : {{attempt}}</p>
    </div>
</div>
<hr>
<p>first upload {{sub1Time}}</p>
<p>Second Upload {{sub2Time}}</p>

