<p>Please follow the rules before upload your submissions</p>

<div style="margin-bottom: 7px;">
  
    <button type="button" class="btn btn-success pdf" (click)="uploadService.downloadLink(this.rulesLink)"><i class="fas fa-exclamation-triangle"></i> Rules</button>
  
</div>

<div class="card text-center sub-1">
   
    <div class="card-header">
      Submission 
    </div>
    <div class="card-body">
      <label>
        <input
          type="file"
          class="text-nowrap text-truncate"
          (change)="selectFile($event)"
        />
      </label>
      <button class="btn btn-primary" (click)="upload()"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
    </div>
    <div class="card-footer text-muted">
      <div *ngIf="currentFileUpload" class="progress mt-2">
        <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ percentage }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: percentage + '%' }" >
          {{ percentage }}%
        </div>
      </div>
      <p>Remaining attempts : {{attempt}}</p>
    </div>
</div>
<hr>
<p>First Submission : <span>{{sub1Time}}</span> </p>
<p>Second Submission : <span>{{sub2Time}}</span></p>

