
#home{
	position: relative;
}
#intro,#sponsorbox,#competition-box{
	height: 100vh;
	background: url("/assets/main-back.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 667px;
}
#sponsorbox{
	position: relative;
	width: 100vw;
	background: url("/assets/second-back.jpg")no-repeat center center fixed;
}
#competition-box{
	position: relative;
	width: 100vw;
	background: url("/assets/third-back.png")no-repeat center center fixed;
}
#timeline-box{
	height: 100vh;
	position: relative;
	width: 100vw;
	background: url("/assets/fourth-back.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 667px;
}
.countdownbox{
	float: left;
	font-size: 17px;
	position: absolute;
	left: 10px;
	top: 230px;
	color: white;
	display: flex;
	text-align: center;
	
}
.countdownbox div{
	width: 50px;
	height: 50px;
	padding: 3px;
	border-radius: 50%;
	margin: 7px;
	background: black;
	opacity: 0.7;
}
.countdownbox span{
	display: block;
	font-size: 8px;
}
.regbutton{
	width: 90px;
	position: absolute;
	top: 300px;
	font-size: 10px;
	left: 10px;
}
.logbutton{
	width: 90px;
	position: absolute;
	top: 300px;
	font-size: 10px;
	left: 110px;
}
#logincomponent{
	display: none;
}
.reg-btn{
	width: 100%;
	padding: 7px;
	text-align: center;
	border-radius: 25px;
	font-weight: bold;
	background: rgba(0,0,0,0.4) ;
	backdrop-filter: blur(10px);
	color: white;
	cursor: pointer;
	overflow: hidden;
}
.social-media{
	width: 20px;
	height: 100px;
	float: left;
	position: absolute;
	left: 30px;
	bottom: 50px;
	font-size: 25px;
}
.social-media li, .social-media a{
	color:black;
}
.heading{
	width: 250px;
	position: absolute;
	left: 10px;
	top: 130px;
	height: 100px;
	float: left;
}
.heading img{
	width: inherit;
	height: inherit;
}
.logo-box{
    display: block;
    position: absolute;
	bottom: 100px;
	right: 0;
    height: 100px;  
}
.UOM-logo img,.ENTC-logo img,.ECLUB-logo img{
	margin-bottom: 3px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}
.ENTC-logo img{
	height: 40px;
}
.ECLUB-logo img{
	width: 50px;
	height: 50px;
}
.sponsor-row1{
	display: flex;
	height: 250px;
	position: absolute;
	top: 10px;
	background-color: rgba(5,3,25,0.4);
}

.description-slrc,.description-competition,.description-rule,.timeline-body{
    display: block;
    position: absolute;
	top: 280px;
    background-color:rgba(5,3,25,0.8);
	color: white;
	text-align: center;
	font-size: 15px;
}
.description-competition{
	top: 20px;
}
.description-rule{
	top:400px;
	font-size: 11px;
}
.timeline-body{
	top: 320px;
}
.description-slrc-slides{
    display: none;
	height: inherit;
	background: url("/assets/slrc_2019-img1.jpg")no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.description-competition-slides{
	display: none;
	height: inherit;
	background: url("/assets/slrc_2019_school.jpg")no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.description-rule-slides{
	display: none;
	height: inherit;
	background: url("/assets/slrc_2019_workshops.jpg")no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.description-slrc-body,.description-competition-body{
	padding-top: 15px  !important;
	padding-bottom: 10px;
    display: block;
}
.description-rule-body{
	padding-top: 5px !important;
	
	display: block;
}

.silver,.gold,.plat{
	display: none;
}
.platinum-row2{
	margin-bottom: 3px;
	width: 250px;
	height: inherit;
	border: 2px solid white;
}
.gold-row2{
	margin-bottom: 3px;
	width: 300px;
	height: inherit;
	border: 2px solid gold;
}
.silver-row2{
	margin-bottom: 3px;
	width: 350px;
	height: inherit;
	border: 2px solid silver;
}

@media screen and (min-width: 576px) {

	.logo-box{
		bottom: 10px;
	}
	.ENTC-logo img,.ECLUB-logo img{
		margin-top:30px;
	}
	.description-rule{
		top:350px ;
		font-size: 15px;
	}
	.timeline-body{
		top: 340px;
	}
	.platinum-row2{
		width: 350px;
	}
	.gold-row2{
		width: 400px;
	}
	.silver-row2{
		width: 450px;
	}
}
@media screen and (min-width: 720px) {
	
	.sponsor-row1{
		display: flex;
		position: absolute;
		top: 30px;
		background-color: rgba(5,3,25,0.4);
		padding-top: 30px;
	}
	.silver,.gold,.plat{
		display: block;
	}
	.sponsor-row2{
		display: none;
	}
	.silver1,.silver2{
		width: 80px;
		height: 80px;
		border: 1px solid silver;
	}
	.gold1,.gold2{
		width: 100px;
		height: 100px;
		border: 2px solid gold;
	}
	.platinum{
		width: 160px;
		height: 160px;
		border: 3px solid white;
	}
	.description-slrc,.timeline-body{
		font-size: 20px;
		top: 330px;
		text-align: center;
	}
	.description-competition{
		text-align: center;
	}
	.description-competition-slides,.description-rule-slides,.description-slrc-slides{
		display: block;
	}
	
	.description-slrc-body,.description-competition-body,.description-rule-body{
		padding: 2px;
	}
}
@media screen and (min-width: 767px) {
	
	.regbutton{
		width: 190px;
		top: 420px;
		left: 30px;
	}
	.logbutton{
		width: 190px;
		top: 420px;
		left: 230px;
	}
	.reg-btn{
		font-size: 19px;
	}
	.countdownbox{
		left: 30px;
		font-size: 25px;
		top: 310px;
	}
	.countdownbox div{
		width: 85px;
		height: 85px;
		padding: 3px;
	}
	.countdownbox span{
		font-size: 15px;
	}
	.social-media{
		left: 30px;
	}
	.logo-box{
		bottom: 100px;
	}
	.UOM-logo img,.ENTC-logo img{
		width: 180px;
		height: 180px;
	}
	.ENTC-logo img,.ECLUB-logo img{
		height: 50px;
		margin-top: 60px;
	}
	.ECLUB-logo img{
		width: 80px;
		height: 80px;
	}
	.heading{
		width: 450px;
		height: 180px;
		left: 30px;
	}
	.silver1,.silver2{
		width: 100px;
		height: 100px;
		border: 1px solid silver;
	}
	.gold1,.gold2{
		width: 120px;
		height: 120px;
		border: 2px solid gold;
	}
	.platinum{
		width: 180px;
		height: 180px;
		border: 3px solid white;
	}
	.description-slrc{
		top: 280px;
		font-size: 20px;
	}
	.timeline-body{
		top: 360px;
	}
	.description-rule-body{
		padding-top: 8px;
	
	}
	
}
@media screen and (min-width: 1000px) {
	.regbutton,.logbutton{
		top: 440px;
	}
	.countdownbox{
		font-size: 40px;
	}
	.countdownbox div{
		width: 100px;
		height: 100px;
		padding: 4px;
		margin: 10px;
	}
	.silver1,.silver2{
		width: 90px;
		height: 90px;
	}
	.gold1,.gold2{
		width: 110px;
		height: 110px;
	}
	.platinum{
		width: 130px;
		height: 130px;
	}
	.silver1,.silver2{
		width: 120px;
		height: 120px;
		border: 1px solid silver;
	}
	.gold1,.gold2{
		width: 140px;
		height: 140px;
		border: 2px solid gold;
	}
	.platinum{
		width: 200px;
		height: 200px;
		border: 3px solid white;
	}
	.description-slrc,.description-slrc-body,.description-slrc-slides,
	.description-competition,.description-competition-body,.description-competition-slides{
		min-height: 300px;
		font-size: 20px;
	}
	.description-rule{
		top: 400px;
	}
	.description-rule,.description-rule-body,.description-rule-slides{
		min-height: 250px;
		font-size: 14px;
	}
	
}