<header id="home"> 
	
	<div id="intro" class="view"></div>
	
		<div class="container">

			<!--Countdown-->
			<!--<div class="countdownbox">
				<div class="day">{{days}} <span>Days</span></div>
				<div class="hour">{{hours}} <span>Hours</span></div>
				<div class="min">{{mins}} <span>Minutes</span></div>
				<div class="sec">{{seconds}} <span>Seconds</span></div>
			</div>-->
		<div id="logincomponent">
			<app-sign-in></app-sign-in>
		</div>
		<!--Rgesitration button-->
		<div class="regbutton">
			<button class="reg-btn" type="button" (click)="displayLogIN()"   ><span></span>Login Now (University)</button>
		</div>
		<!-- login button -->
		<div class="logbutton">
			<button class="reg-btn" type="button" (click)="displayLogIN()"   ><span></span>Login Now (School)</button>
		</div>

			<!--Social media-->
			<div class="social-media mr-auto">
				<ul class="list-unstyled quick-links">
					<li><a href="https://www.facebook.com/UoM.SLRC/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
					<li><a href="https://www.facebook.com/messages/t/269016666459981" target="_blank"><i class="fab fa-facebook-messenger"></i></a></li>
					<li><a href=""><i class="fa fa-envelope"></i></a></li>
				</ul>	
			</div>

			<!--Title-->
			<div class="heading mr-auto">
				<img src="/assets/logoslrc_white.png">
			</div>

			<!--logos-->
			<div class="logo-box col-4 col-sm-6 col-md-8 col-lg-6 col-xl-5">
				<div class="row">
					<div class="col-sm-4 col-md-4 UOM-logo mr-auto ml-auto">
						<img src="/assets/UOM-logo.png">
					</div>
					<div class="col-sm-4 col-md-4 ENTC-logo">
						<img src="/assets/ENTC-logo.png">
					</div>
					<div class="col-sm-4 col-md-4 ECLUB-logo">
						<img src="/assets/ECLUB-logo.png">
					</div>
				</div>
			</div>
		
		</div>	

	
</header>

<section class="sponsors col-12" id="sponsorbox">
	
	<div class="row col-12 sponsor-row1">
		
		<!--<div class="col silver">
			<div class="row">
				<div class="silver1 mr-auto ml-auto p-1" data-aos="flip-left" data-aos-duration="1000"></div>
			</div>
		</div>-->
		<div class="col gold">
			<div class="row">
				<div class="gold1 mr-auto ml-auto" data-aos="flip-left" data-aos-duration="1000"></div>
			</div>
			<div class="goldspons mr-auto ml-auto"></div>
		</div>
		<div class="col plat">
			<div class="row">
			<!--	<p id="sponsor-heading">Sponsors</p>-->
				<div class="platinum mr-auto ml-auto" data-aos="zoom-in"></div>
			</div>
			<div class="platispons mr-auto ml-auto"></div>

		</div>
		<div class="col gold">
			<div class="row">
				<div class="gold2 mr-auto ml-auto" data-aos="flip-right" data-aos-duration="1000"></div>
			</div>
			<div class="goldspons mr-auto ml-auto"></div>
		</div>
		<!--<div class="col silver">
			<div class="row">
				<div class="silver2 mr-auto ml-auto" data-aos="flip-right" data-aos-duration="1000"></div>
			</div>
		</div>-->
		<div class="row col-12 sponsor-row2 ml-auto mr-auto">
			<div class=" platinum-row2 mr-auto ml-auto">	
			</div>
			<div class="row gold-row2 mr-auto ml-auto">
				<div class="synom col-6 "></div>	
				<div class="lseg col-6"></div>
			</div>
			<div class=" silver-row2 mr-auto ml-auto">
			</div>
		</div>
	</div>
	<div class="row col-12 description-slrc" id="about" data-aos="fade-up" data-aos-duration="1000">
		<div class="row">
		  <div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-8 description-slrc-body">
			<p class="card-text"><b>Sri Lankan Robotics Challenge 2021</b> organized by the <b>E-Club of Department of Electronic and Telecommunication Engineering of University of Moratuwa </b> will be happening this year for the ninth time gathering robotics enthusiasts from all around the country to one place. 
				Due to the unfavourable situation prevailing in the country, the competition and its proceedings will be held on a fully virtual platform this year. This decision is taken to ensure the safety of everyone.
			</p>
			<p class="card-text">
				<b>SLRC 2021 will be organized under two categories.</b>
				<br>School Category
				<br>University Category	
			</p>
		  </div>
		  <div class="col-1 col-sm-1 col-md-3 col-lg-4 col-xl-4 description-slrc-slides">
		  </div>
		</div>
	  </div>
	
</section>
<section class=" col-12" id="competition-box">
	<div class="row col-12 description-competition" data-aos="fade-up" data-aos-duration="1000">
		<div class="row">
			<div class="col-1 col-sm-1 col-md-3 col-lg-4 col-xl-4 description-competition-slides">
			</div>
		  	<div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-8 description-competition-body">
				<h2>School Category</h2>
		  		<p class="card-text">School Category competition is aimed at providing an international standard platform for school students to learn, experience and demonstrate their interest in the field of robotics. All the winners will be entitled to cash prizes and certificates from the University.</p>
				<p class="card-text">
					<b>In the aid of SLRC 2021, a series of online workshops will be conducted by E-Club which will help the teams to get more knowledge on robotics and to witness demonstrations. This will happen before the competition and all the participants who registered for SLRC 2021 are invited to participate for the workshop series.</b>
				</p>
		  	</div>
		</div>
	</div>
	<div class="row col-12 description-rule"  data-aos="fade-up" data-aos-duration="1000">
		<div class="row">
		  	<div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-8 description-rule-body">
				<h4>Rules and Workshops</h4>
		  		<p class="card-text">Participants are required to apply singly as teams of up to 5 members (note that one school can have more than one team). The registration must be done online via the following directed link. All team members must be from the same school. Each team member should be in grade 5 or above. Students who are currently waiting for the university entrance can also apply for the competition under the school that they did Advanced Level Examination.
				</p>
				<p class="card-text">
					<b>Date of the competition, workshops and the tasks of School Category of SLRC 2021 will be informed to you soon.</b>
				</p>
				<p class="card-text">This platform will strengthen the robotics education and experience opening up many paths for you in future. Register a team and Stay tuned for further updates!
				</p>
		  	</div>
		  	<div class="col-1 col-sm-1 col-md-3 col-lg-4 col-xl-4 description-rule-slides"></div>
		</div>
	</div>
	
</section>
<section class="col-12" id="timeline-box">
	
	
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
			  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<a href="https://www.axiatadigitallabs.com/?utm_source=unimoratuwa&utm_medium=banner_ad&utm_campaign=robotics_apr2021" target="blank">
					<img src="/assets/adlbanner.jpg" class="d-block w-100" alt="...">
				</a>
			  </div>
			  <div class="carousel-item">
				<a href="https://www.axiatadigitallabs.com/?utm_source=unimoratuwa&utm_medium=banner_ad&utm_campaign=robotics_apr2021" target="blank">
				<img src="/assets/adlbanner.jpg" class="d-block w-100" alt="...">
				</a>
			  </div>
			  <div class="carousel-item">
				<a href="https://www.axiatadigitallabs.com/?utm_source=unimoratuwa&utm_medium=banner_ad&utm_campaign=robotics_apr2021" target="blank">
					<img src="/assets/adlbanner.jpg" class="d-block w-100" alt="...">
				</a>
			  </div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
	
	<div class="row col-12 timeline-body">
		<div class="row">
			<app-slrc-hr-timeline></app-slrc-hr-timeline>
		</div>
	</div>
	
		
	
</section>



