.carousel-item,.w-100 {
	height: 26vh;
	min-height: 180px;
}
.countdownbox{
	font-size: 17px;
	height: 0px;
	position: relative;
	top: -95px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.countdownbox div{
	width: 40px;
	padding: 3px;
	border: 1px solid white;
	border-radius: 5px;
	margin: 7px;
	background: black;
	opacity: 0.7;
}
.countdownbox span{
	display: block;
	font-size: 8px;
}
.countdownbox div:first-child{
	background: #17a2b8;
}
.regbutton{
	width: 90px;
	height: 0px;
	position: relative;
	top: -65px;
	font-size: 10px;
}
.reg-btn{
	position: relative;
	width: 100%;
	padding: 7px;
	text-align: center;
	border-radius: 25px;
	font-weight: bold;
	border:2px solid white;
	background: white ;
	color: #17a2b8;
	cursor: pointer;
	overflow: hidden;
}

.platinum-sponsors>p,.gold-sponsors>p,.silver-sponsors>p {
	display: flex;
	flex-direction: row;
	color:#a0b2c6;
	font-weight: bolder;
	font-size: 20px;
}
.gold-sponsors>p{
	color: gold;
}
.silver-sponsors>p{
	color: silver;
}
.platinum-sponsors>p:before, .platinum-sponsors>p:after,
.gold-sponsors>p:before, .gold-sponsors>p:after,
.silver-sponsors>p:before, .silver-sponsors>p:after{
	content: "";
	flex: 1 1;
	border-bottom: 5px solid #a0b2c6;
	margin: auto;
}
.silver-sponsors>p:before,.silver-sponsors>p:after{
	border-bottom: 5px solid silver;
}
.gold-sponsors>p:before,.gold-sponsors>p:after{
	border-bottom: 5px solid gold;
}
.platinum-sponsors>p:before,.gold-sponsors>p:before {
	margin-right: 10px
}
.platinum-sponsors>p:after,
.gold-sponsors>p:after,
.silver-sponsors>p:after  {
	padding-top: 2px;
	margin-left: 10px
}
.platinum-row,.gold-row,.silver-row{
	width: 100%;
	height: 30px;
}
.platinum-row>img,.gold-row>img,.silver-row>img{
	width: 100px;
	height: inherit;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.description1-card{
	padding:0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}
.description1-img{
	display: none;
}
.description1-body>p{
	font-size: 12px;
}


@media screen and (min-width: 720px) {
	
	.description1-body p{
		font-size: 15px;
	}
	.carousel-item,.w-100{
		height: 40vh;
		min-height: 220px;
	}
}
@media screen and (min-width: 767px) {
    .carousel-item,.w-100{
		height: 40vh;
		min-height: 350px;
	}
	.regbutton{
		width: 190px;
		font-size: 20px;
	}
	.reg-btn{
		font-size: 20px;
		top:-20px;
	}
	.countdownbox{
		font-size: 25px;
		top: -130px;
	}
	.countdownbox div{
		width: 70px;
		padding: 3px;
		border: 2px solid white;
		border-radius: 12px;
		margin: 10px;
	}
	.countdownbox span{
		font-size: 15px;
	}
	.platinum-sponsors>p,.gold-sponsors>p,.silver-sponsors>p {
		font-size: 30px;
	}
	.platinum-sponsors>p:before, .platinum-sponsors>p:after{
		border-bottom: 5px solid #a0b2c6;
		margin: auto;
	}
	.gold-sponsors>p:before, .gold-sponsors>p:after{
		border-bottom: 5px solid gold;
		margin: auto;
	}
	.silver-sponsors>p:before, .silver-sponsors>p:after{
		border-bottom: 5px solid silver;
		margin: auto;
	}
	.platinum-sponsors>p:before ,
	.gold-sponsors>p:before,
	.silver-sponsors>p:before  {
		margin-right: 15px
	}
	.platinum-sponsors>p:after,
	.gold-sponsors>p:after,
	.silver-sponsors>p:after {
		padding-top: 2.5px;
		margin-left: 15px
	}
	.platinum-row,.gold-row,.silver-row{
		height: 60px;
	}
	.platinum-row>img,.gold-row>img,.silver-row>img{
		width: 200px;
	}
	.description1-img{
		display: block;
		background-color: #17a2b8;
	}
	.description1-img>img{
		display: none;
	}
	.description1-body>p{
		font-size: 15px;
	}
}
@media screen and (min-width: 1000px) {
	.carousel-item,.w-100{
		height: 80vh;
	}
	.reg-btn{	
		top: -15px;
	}
	.countdownbox{
		font-size: 40px;
		top: -140px;
	}
	.countdownbox div{
		width: 80px;
		padding: 4px;
		border: 2px solid white;
		border-radius: 15px;
		margin: 10px;
	}
	.platinum-sponsors>p,.gold-sponsors>p ,.silver-sponsors>p{
		font-size: 50px;
	}
	.platinum-sponsors>p:before, .platinum-sponsors>p:after{
		border-bottom: 7px solid #a0b2c6;
	}
	.gold-sponsors>p:before, .gold-sponsors>p:after{
		border-bottom: 7px solid gold;
	}
	.silver-sponsors>p:before, .silver-sponsors>p:after{
		border-bottom: 7px solid silver;
	}
	.platinum-sponsors>p:after,
	.gold-sponsors>p:after,
	.silver-sponsors>p:after {
		margin-left: 20px;
		padding-top: 2.25px;
	}
	.platinum-sponsors>p:before,
	.gold-sponsors>p:before,
	.silver-sponsors>p:before{
		margin-right: 20px;
	}
	.platinum-row,.gold-row,.silver-row{
		height: 70px;
	}
	.platinum-row>img,.gold-row>img,.silver-row>img{
		width: 230px;
	}
	.description1-body p{
		font-size: 15px;
	}
	
	
}
