<app-navbar></app-navbar>
<app-unioverall></app-unioverall>
<section id="easytask-id">

<div class="container easy-box">
<div class="row ">
    <div class="col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Task-1</h5>
            <p class="card-text">The First Order has captured Mr. Flok, the chief engineer of ‘Anti-Starkiller-Robot’ (ASR) project of the Resistance. Starkiller is the Order’s newest galactic superweapon; a planet turned into super-laser gun powered by absorbing a sun; which can destroy an entire star-system from halfway across the galaxy. In order to save the Resistance planets, the Jedi Order has to step in and use their Jedi powers to quickly learn and finish the ASR project. As a Jedi master, your help is most valuable now.</p>
            <p>Deadline: 5th May 2021 11.59 pm</p>
            <div class="col">
              <button type="button" class="btn btn-success pdf"  (click)="uploadService.downloadLink(this.pdfLink1)"><i class="far fa-file-pdf"></i> Task Details</button>
              <button type="button" class="btn btn-success zip"  (click)="uploadService.downloadLink(this.zipLink1)"><i class="fas fa-file-archive"></i> Task files</button>
              <a href="https://forms.gle/d8ajsdtdrqZuJtKQA" target="_blank"><button type="button" class="btn btn-success zip" ><i class="fas fa-file-archive"></i> Submission</button></a>
            </div>
            <div class="row">
             
              <div class="col" style="text-align: right;">
                
                Score:<span style="font-weight: bold;"> {{score1}}/100</span>
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar" id="pro1" role="progressbar"  aria-valuemin="0" aria-valuemax="100">{{score1}}%</div>
            </div>
        </div>
    </div>
</div>
<!--
   <div class="col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Task-2</h5>
          <p class="card-text">Message decoding robot</p>
          <div class="col">
            <button type="button" class="btn btn-success pdf"  (click)="uploadService.downloadLink(this.pdfLink2)"><i class="far fa-file-pdf"></i> Task Details</button>
            <button type="button" class="btn btn-success zip"  (click)="uploadService.downloadLink(this.zipLink2)"><i class="fas fa-file-archive"></i> Task files</button> 
            <a href="" target="_blank"><button type="button" class="btn btn-success zip" ><i class="fas fa-file-archive"></i> Submission</button></a>
          </div>
          <div class="row">
            <div class="col" style="text-align: right;">
              
              Score:<span style="font-weight: bold;"> {{score2}}/100</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" id="pro2"role="progressbar"  aria-valuemin="0" aria-valuemax="100">{{score2}}%</div>
        </div>
        </div>
      </div>
    </div>
  -->
</div>
</div>

</section>



