<section id="easytask-id">

    <div class="container easy-box">
    <div class="row ">
        <div class="col-sm-12 col-12">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Easy Task-1</h5>
                <p class="card-text">{{description[0]}}</p>
                <div>
                    <button type="button" class="btn btn-success pdf"  (click)="uploadService.downloadLink(this.pdfLink[0])"><i class="far fa-file-pdf"></i> Task Details</button>
                    <button type="button" class="btn btn-success zip"  (click)="uploadService.downloadLink(this.zipLink[0])"><i class="fas fa-file-archive"></i> Task files</button>
                </div>
                <div class="row">
                  <div class="col" style="text-align: right;">
                    Level: <span style="color: green;">Easy</span><br>
                    Max Score:<span style="font-weight: bold;">{{maxScore[0]}}</span>
                  </div>
                </div>
                
            </div>
        </div>
        </div>
        <div class="col-sm-12 col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Easy Task-2</h5>
              <p class="card-text">{{description[1]}}</p>
              <div>
                <button type="button" class="btn btn-success pdf"  (click)="uploadService.downloadLink(this.pdfLink[1])"><i class="far fa-file-pdf"></i> Task Details</button>
                <button type="button" class="btn btn-success zip"  (click)="uploadService.downloadLink(this.zipLink[1])"><i class="fas fa-file-archive"></i> Task files</button>
              
            </div>
              <div class="row">
           
                <div class="col" style="text-align: right;">
                  Level: <span style="color: green;">Easy</span><br>
                  Max Score:<span style="font-weight: bold;">{{maxScore[1]}}</span>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Easy Task-3</h5>
                <p class="card-text">{{description[2]}}</p>
                <div>
                  <button type="button" class="btn btn-success pdf"  (click)="uploadService.downloadLink(this.pdfLink[2])"><i class="far fa-file-pdf"></i> Task Details</button>
                  <button type="button" class="btn btn-success zip"  (click)="uploadService.downloadLink(this.zipLink[2])"><i class="fas fa-file-archive"></i> Task files</button>
                  
              </div>
                <div class="row">
                  
                  <div class="col" style="text-align: right;">
                    Level: <span style="color: green;">Easy</span><br>
                    Max Score:<span style="font-weight: bold;">{{maxScore[2]}}</span>
                  </div>
                </div>
            
              </div>
            </div>
        </div>
    </div>
    
   <div class="row">
        <div class="col-sm-12 col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Easy Task-4</h5>
              <p class="card-text">{{description[3]}}</p>
              <div>
                <button type="button" class="btn btn-success pdf"  (click)="uploadService.downloadLink(this.pdfLink[3])"><i class="far fa-file-pdf"></i> Task Details</button>
                <button type="button" class="btn btn-success zip"  (click)="uploadService.downloadLink(this.zipLink[3])"><i class="fas fa-file-archive"></i> Task files</button>
                
            </div>
              <div class="row">
                
                <div class="col" style="text-align: right;">
                  Level: <span style="color: green;">Easy</span><br>
                  Max Score:<span style="font-weight: bold;">{{maxScore[3]}}</span>
                </div>
              </div>
              
            </div>
        </div>
        </div>
     <<!--   <div class="col-sm-12 col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Easy Task-5</h5>
              <p class="card-text">{{description[4]}}</p>
              <div>
                <button type="button" class="btn btn-success pdf"  (click)="uploadService.downloadLink(this.pdfLink[4])"><i class="far fa-file-pdf"></i> Task Details</button>
                <button type="button" class="btn btn-success zip"  (click)="uploadService.downloadLink(this.zipLink[4])"><i class="fas fa-file-archive"></i> Task files</button>
                
            </div>
              <div class="row">
                
                <div class="col" style="text-align: right;">
                  Level: <span style="color: green;">Easy</span><br>
                  Max Score:<span style="font-weight: bold;">{{maxScore[4]}}</span>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Easy Task-6</h5>
                <p class="card-text">{{description[5]}}</p>
                <div>
                  <button type="button" class="btn btn-success pdf"  (click)="uploadService.downloadLink(this.pdfLink[5])"><i class="far fa-file-pdf"></i> Task Details</button>
                  <button type="button" class="btn btn-success zip"  (click)="uploadService.downloadLink(this.zipLink[5])"><i class="fas fa-file-archive"></i> Task files</button>
                  
              </div>
                <div class="row">
                  
                  <div class="col" style="text-align: right;">
                    Level: <span style="color: green;">Easy</span><br>
                    Max Score:<span style="font-weight: bold;">{{maxScore[6]}}</span>
                  </div>
                </div>
            
              </div>
            </div>
        </div>-->
    </div>
    </div>
    </section>
