section{
    background-color:  #333946;
}
.row{
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    font-size: 13px;
}
.state-body{
    padding-top: 10px;
    color: white;
}
.box{
    width: 100%;
    min-height: 30px;
    border: 1px solid black;
    padding: 15px;
}
@media screen and (min-width: 767px) {
    a{
        font-size: 20px;
    }
    .state-body{
        padding-left: 5px;
    }
}