section{
    background-color:  rgba(17,24,39);
}
.row{
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    font-size: 13px;
}
.state-body{
    text-align: center;
    padding-top: 10px;
    color: white;
}
.box{
    width: 100%;
    min-height: 300px;
    border: 1px dashed white;
    padding: 15px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: #007BFF;
}
.nav-tabs{
    border-bottom: none;
}
.problem{
    color: white;
}

@media screen and (min-width: 767px) {
    a{
        font-size: 20px;
    }
    .container{
        padding-right: 0;
        padding-left: 0;
    }
    .state-body{
       
        padding-top: 50px;
        text-align: left;
        padding-right: 7px;
        
    }
    .box{
        min-height: 500px;
    }
}