<app-overall-progress></app-overall-progress>
<section>
<div class="container ">
<div class="row no-gutters">
    <div class="col-12 col-md-10  ">
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
              <a ngbNavLink>Problem</a>
              <ng-template ngbNavContent>
                <div class="box">
                {{description}}
                </div>
              </ng-template>
            
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink>Submissions</a>
              <ng-template ngbNavContent>
                <!-- submission -->
                    <div class="box">
                      <app-submission></app-submission>
                    </div>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink>Leaderboard</a>
              <ng-template ngbNavContent>
                <div class="box">               <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                  Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                  Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
                  egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
                  tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
                  magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
                  neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                  </div>
              </ng-template>
            </ng-container>
          </nav>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class=" col-12 col-md-2">
            <div class="state-body" style="text-align: center;">
              <p>Task no: <span style="font-weight: bold;">{{taskNumber}}</span></p>
              <p>Difficulty  :  <span style="color: green; font-weight: bold;">{{difficulty}}</span></p>
              <p>Max score :{{maxScore}}</p>
              <p>Score :<span></span></p>
            </div>
    </div>
  </div>
  </div>
</section>

  
  
